:root {
  --button-color: #442c66;
  --button-color-hover: #715499;
  --text-with-background: white;
}

* {
  font-size: 24px;
  line-height: 2rem;
  box-sizing: border-box;
  padding: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  width: 100%;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol {
  margin-left: 5%;
}

button {
  padding: 15px;
  line-height: 0;
  margin-left: 10px;
  color: var(--text-with-background);
  background-color: var(--button-color);
  border-radius: 10px;
}

button:hover {
  background-color: var(--button-color-hover);
}

form {
  height: 100%px;
  padding: 15px;
}

input {
  height: 45px;
}
#start-quiz p {
  width: 70%;
}

[data-state="hidden"] {
  display: none;
}

[data-state="visible"] {
  display: flex;
}

#start-quiz {
  flex-direction: column;
  align-items: center;
  width: 70%;
}
#enter-initals {
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}

#enter-initals > :first-child,
#enter-initals > :nth-child(2) {
  width: 100%;
}
#highscores {
  width: 70%;
  flex-direction: column;
}

#highscores h2 {
  width: 100%;
}

#quiz-section {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.quiz-options {
  background-color: var(--button-color);
  padding: 5px 10px 5px 15px;
  margin: 10px;
  color: var(--text-with-background);
  border-radius: 10px;
  list-style-position: inside;
}

.quiz-options:hover {
  background-color: var(--button-color-hover);
}
