:root {
  --button-color: #442c66;
  --button-color-hover: #715499;
  --text-with-background: white;
}
/* style applied to page */
* {
  font-size: 24px;
  line-height: 2rem;
  box-sizing: border-box;
  padding: 10px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  width: 100%;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

header {
  justify-content: space-between;
}
body {
  flex-direction: column;
  align-items: center;
}

ol {
  margin-left: 2%;
}

button {
  padding: 15px;
  line-height: 0;
  margin-left: 10px;
  color: var(--text-with-background);
  background-color: var(--button-color);
  border-radius: 10px;
}

button:hover {
  background-color: var(--button-color-hover);
}

form {
  height: 100%px;
  padding: 15px;
}

input {
  height: 45px;
}

/* display flex */
header,
body,
#quiz-section {
  display: flex;
}

/* 100% width */
#enter-initals > :first-child,
#enter-initals > :nth-child(2),
#highscores h2,
header {
  width: 100%;
}

/* 70% width */
#is-answer,
#highscores,
#start-quiz,
#start-quiz p,
#enter-initals,
#quiz-section {
  width: 70%;
}

/* style for the quiz options and the highscores */
.quiz-options,
#highscore-list li {
  /* extends the background color to the ordered list numbers */
  list-style-position: inside;
  padding: 5px 10px 5px 10px;
  margin: 10px 0px 10px 0px;
  color: var(--text-with-background);
  border-radius: 10px;
}

/* color of the background on button hover, reused same color for highscore list */
.quiz-options:hover,
#highscore-list li {
  background-color: var(--button-color-hover);
}

/* hides the container if data state is hidden, display is none */
[data-state="hidden"] {
  display: none !important;
}
/* shows the container if data state is visible, display flex */
[data-state="visible"] {
  display: flex !important;
}

#start-quiz {
  flex-direction: column;
  align-items: center;
}

#quiz-section {
  flex-wrap: wrap;
}
.quiz-options {
  background-color: var(--button-color);
}

#enter-initals {
  flex-direction: row;
  flex-wrap: wrap;
}

#highscores {
  flex-direction: column;
}

#is-answer {
  border-top: gray solid;
}
